
body{
    font-family: 'Xanh Mono', monospace;

}


h1{

    font-size: 50px;
}
.heilight{
    color:orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}

